// DEVICE LIST //
$xs-min: "only screen and (min-width:none)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen and (min-width: none) and (max-width:767px)";

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen and (min-width: 768px) and (max-width:991px)";

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen and (min-width: 992px) and (max-width:1199px)";

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:1399px)";
$lg-xl: "only screen and (min-width: 1200px) and (max-width:1400px)";

$xl-min: "only screen and (min-width:1400px)";
$xl-max: "only screen and (max-width:1599px)";
$xl-hg: "only screen and (min-width: 1400px) and (max-width: 1600px)";

$hg-min: "only screen and (min-width:1600px)";
$hg-max: "only screen and (max-width:none)"