.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: $accent;
    border: 1px solid $grey-med;

    &:hover {
        background-color: $orange;
    }
}

.btn-secondary {
    background-color: $orange;
    border: 1px solid $grey-med;
    &:hover {
        background: $accent;
    }
}