// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


<<<<<<< HEAD
$off-black: #3B3B3B;

$cyan:            #95C9BD; // #Header BG
$darker-cyan:     #34977F; // Used as Footer Background
$red:             #D13F3F; // CTA Red

$hero-gradient-1:   linear-gradient(36.48deg, #212121 0%, rgba(216,216,216,0.2) 100%);
$hero-gradient-2:   linear-gradient(36.48deg, rgba(243,181,98,0.6) 0%, rgba(216,216,216,0.2) 100%);

$core-font: "Montserrat";
=======
//
// Color system
//

$primary: #7C008C;

>>>>>>> 41e006504bb62e7340251c1bcdfcfcb490a66826
