div#wrapper-footer {
  background: $teal-dark;
  
  padding: 10px;
  position: relative;
  margin-top: -60px;
  top: 60px;


  h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  ul#menu-footer-menu {
      display: flex;
      flex-direction: column;
      padding: 0 .5em;
      text-align: center;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        margin-bottom: 0;
      }

      li {
        list-style-type: none;
        text-align: center;        
        @include media-breakpoint-up(lg) {
          margin-right: 1em;
        }
      }
    a {
      color: #fff;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}