.custom-logo-link img {
    width: 200px;
}

nav.navbar {
    background: $teal !important;
    ul.navbar-nav {
        li.active {
            font-weight: 600;
        }

        li a.nav-link {
            color: $dark;
            padding: 5px .2em;

        @include media-breakpoint-up(md) {
            &::after {
                content: '';
                display: inline-block;                
                height: 1em;
                width: 1px;
                margin: 0 .75em;
                background: lighten($dark, 20%);
                transform: rotate(10deg);
                position: relative;
                top: 3px;
            }
        }
        }
}
    .navbar-brand {
        max-width: 180px;
    }
    #navbarNavDropdown {
        flex-grow: 0;
    }
}