section.intro {
    h1.intro {
        font-size: em(24);
        font-weight: 800;
        text-transform: uppercase;
        @media #{$sm-min} {
            font-size: em(38);
        }
    }
    h6 {
        letter-spacing: 3px;
        &::after {
            content: '';
            display: block;
            width: 55px;
            border: 1px solid #fff;
            margin: .9em auto 1em;
        }
    }
    p.intro-text {
        font-size: em(17);
    }
}

@include media-breakpoint-up(sm) {
    section.intro {
        p.intro-text {
            padding: 0 3em;
            font-size: em(24);
        }
    }
}