section.content {
    padding: 10vw;
    text-align: center;
    &:nth-of-type(odd) {
        background-color: $grey-med;
    }

    @media #{$sm-min} {
        padding: 4vw 8vw;
    }
}

.error-404 {
    background: $grey-light;
    padding: 1em;
}