.entry-title {
    padding-bottom: .2em;
    margin-bottom: .4em;
    border-bottom: 1px solid $grey-med;
}

.post, .comment-list {
    margin-bottom: 1.5em;
}

.comments-title, .comment-reply-title {
    font-size: em(20);
    font-weight: 600;
}

//
/// Families
//

h1, h2, h3, h4, h5, h6, p, a, span, blockquote, label, input {
    font-family: $core-font;
}

//
/// Sizes
//
h1 {
    font-size: em(35);
}

h2, .h2 {
    font-size: em(32);
}

h3 {
    font-size: em(24);
}

//
/// Letter Spacing
//
h1, h2, h3, h4, h5, h6, label {
    letter-spacing: -.61px;
}

//
/// Weights
//

// 900 
h1 {
    font-weight: 900;    
}

// 800 
h2, h3, label {
    font-weight: 800;
}

// 500
.nav li {
    font-weight: 500;
    &.active {
        font-weight: 600;
    }
}

//
/// Style
//

// Italic
h1, h2, h3, h5, label, .nav-link {
    font-style: italic;
}

// Transforms
h2, h5, h6 {
    text-transform: uppercase;
}

// Lists
#content #right-sidebar ul {
    list-style: none;
    
    li {
        &::before {
            color: $grey;
            font-family: FontAwesome;
            content: "\f192";
            position: relative;
            top: 0em;
            padding-right: .5em;
            font-size: 1em;
        }
    }
}

//
///  Color
//

h1, h2, h3, h4, h5, h6, p, span:not("span.display-name"), blockquote {
    color: $grey;
}

a {
    color: $accent;
}

.intro {
    color: #fff;
}

// Quote Style
blockquote {
    background: $grey-med;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;

    strong {
        font-weight: 500;
    }
    p {
    color: #fff;
    margin-bottom: 0;
    font-style: italic;
    }
}